.item{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-bottom: 1px solid rgb(37, 37, 37);
    padding: 2rem 2rem 0rem 2rem;
    .date{
        width: 100%;
        font-size: 4.3rem;
        font-family: 'Times New Roman', Times, serif;
        opacity: .4;
        transition: all, .2s;
        span{
            font-size: 16px;
            display: block;
            font-family: sans-serif;
        }
        @media (max-width: 768px){
            font-size: 3rem;
        }
    }
    .content{
        height: 0;
        overflow: hidden;
        width: 600px;
        align-self: flex-end;
        margin-top: 2rem;
        transition: all, .2s;
        opacity: .4;
        @media (max-width: 768px){
            width: 100%;
        }
        b{
            font-size: 18px;
        }
        p{
            font-size: 16px;
        }
        span{
            font-style: italic;
            color: rgb(78, 78, 78);
        }
    }

    &:hover{
        background-color: #161b22;
        .date{
            opacity: 1;
        }
        .content{
            opacity: 1;
            height: 400px;
            @media (max-width: 768px){
                height: 600px;
            }
        }
    }
    .share{
        padding: 0;
        display: flex;
        gap: 25px;
        align-items: center;
        li, a{
            display: flex;
            align-items: center;
            gap: 5px;
        }
        li{
            border-bottom: 1px solid transparent;
            &:hover{
                border-color: #fff;
            }
        }
    }
}


.wrapper{
    display: flex;
    width: 100%;
    .itens{
        flex: 1;
    }
    @media (max-width: 768px){
        flex-direction: column;
    }
}

.loading{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    font-size: 3rem;
    font-weight: bold;
    color: #fff;
}